.top-bar {
  position: fixed;
  height: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff !important;
  z-index: 100;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

.food-categories-container {
  margin-top: 50px;
  padding: 10px;
  height: calc(100vh - 50px - 60px);
}

.home {
  margin-top: 50px;
  height: calc(100vh - 50px - 60px);
  overflow: auto;
  overflow-x: hidden;
  padding-top: 10px;
  width: 100vw !important;
  touch-action: pan-x pan-y !important;
}

.ant-table-tbody > tr > td {
  border-bottom: none !important;
}

.home-table .ant-table-tbody > tr:nth-child(odd) > td {
  border-bottom: 1px solid #f0f0f0 !important;
}