html, body {
  margin: 0px;
  padding: 0px;
  touch-action: pan-x pan-y !important;
}

/* flex classes */
.flex {
  display: flex !important;
}

.flex-col {
  flex-direction: column !important;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-middle {
  align-items: center;
}

/* font classes */
.font-weight-500 {
  font-weight: 500 !important;
}

.font-size-24 {
  font-size: 24px !important;
}

.font-size-22 {
  font-size: 22px !important;
}

.font-size-13 {
  font-size: 13px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

/* text classes */
.text-align-center {
  text-align: center !important;
}

/* margins */
.ml-8 {
  margin-left: 8px !important;
}

/* width */
.w-100 {
  width: 100% !important;
}